.category-div{
    width: 100%;
    border: solid 1px rgb(53, 53, 53);
}

.category-form{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.category-text{
    width: 70%;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: var(--bg-elements);

}

.category-color{
    width: 20%;
    height: 39px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: var(--bg-elements);

}

.category-btn{
    width: 10%;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: var(--bg-elements);

}

.category-btn i{
    
    color: #b8b8b8;
}