.filter{
    margin: 20px auto;
    width: 100%;
}

.filter-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.filter-header {
    display: flex;
    justify-content: space-between;
}

.filter-title{
    width: 100%;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--destaque);
}

.filter-title-class{
    text-align: right;
}


.filter-select{
    width: 7rem;
    height: 2.5rem;
    background-color: var(--destaque);
    color: white;
}

.filter button{
    width: 2.5rem;
    background-color:transparent;
    border: none;
    cursor: pointer;
}

.filter button i{
    font-size: 1.8rem;
    color: var(--destaque);
    transition: 0.4s;
    cursor: pointer;
    pointer-events: none;
}


.filter-all{
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: var(--destaque);
    transition: 0.5s;
    text-align: center;
}



